.vertical-intro h1 {
  word-spacing: 8px;
}
.seperate-title h2 {
  word-spacing: 10px;
}

.entry-container .image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000040;
  border-radius: 20px;
}
/* .world-map-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000000f;
} */
